/*Normal Css*/





/*Media query*/
@media (min-width: 1260px) {

}

@media (max-width: 1269px) {

}

@media (max-width: 767px) {
    .job-proposal-btn{
        margin-bottom: 10px;
    }
    .job-post-input-city{
        margin-left: 6px;
        width: 98%;
    }
    .job-post-input-country{
        margin-left: 6px;
        width: 98%;
    }
}

@media (max-width: 480px) {
    .job-proposal-btn{
        margin-bottom: 10px;
    }
    .job-post-input-city{
        margin-left: 5px;
        width: 97%;
    }
    .job-post-input-country{
        margin-left: 5px;
        width: 97%;
    }
}

@media (max-width: 364px) {
    .job-proposal-btn{
        margin-bottom: 10px;
    }
    .job-post-input-city{
        margin-left: 5px;
        width: 97%;
    }
    .job-post-input-country{
        margin-left: 5px;
        width: 97%;
    }
}
