#web-logout-btn{
    padding: 5px 30px 5px 30px;
    border: 1px solid green !important;
    border-radius: 25px;
    font-weight: normal;
    color: green
}
#web-logout-btn:hover{
    border: 1px solid #ff6a00 !important;
    color: #ff6a00;
    transition-duration: .5s;
}
.active-hover {
    color: #ff6a00 !important;
}
.add-shadow {
    box-shadow: 0 20px 40px rgb(0 0 0 / 15%);
    transition: box-shadow .6s ease-in-out;
}
.nav-header-notification-icon {
    font-size: 20px;
    width: 45px;
}
.nav-messenger-icon {
    max-height: 28px;
    border-radius: 40%;
}
.nav-header-mn-plate {
    box-shadow: 0 20px 40px rgb(0 0 0 / 15%);
    transition: box-shadow .6s ease-in-out;
    border: none;
}
.scroll-div {
    height:600px;
    overflow-y: scroll;
}

.nm-list-title {
    font-size: 20px;
}
.notification-list-text {
    font-size: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.nm-div-padding{
    padding-left: 30px;
}
.nav-header-mn-title{
    padding-top: 10px;
    padding-left: 25px;
}
@media (min-width: 976px) {
    .nav-header-mn-plate {
        margin-left: 60%;
        min-height: 750px;
        width: 500px;
    }
    .nav-header-mn-icon {
        font-size: 25px;
        padding-top: 1rem !important;
    }
}

@media (max-width: 976px) and (min-width: 767px) {
    .nav-header-mn-icon {
        font-size: 25px;
        padding-top: 1rem !important;
    }
}

@media (max-width: 767px) and (min-width: 450px) {
    .nav-header-mn-icon {
        font-size: 25px;
        padding-top: .8rem !important;
    }
    .message-list-avatar{
        width: 60px !important;
    }
}

@media (max-width: 450px) and (min-width: 364px) {
    .nav-header-mn-title {
        font-size: 20px !important;
    }
    .nav-header-mn-icon {
        font-size: 15px !important;
        padding-top: .5rem !important;
    }
    .message-list-avatar{
        width: 50px !important;
    }
}

@media (max-width: 364px) {
    .nav-header-mn-title {
        font-size: 20px !important;
    }
    .nav-header-mn-icon {
        padding-top: .5rem !important;
    }
    .message-list-avatar{
        width: 40px !important;
    }
}

/*web component css*/
.search-job-component {
    border-radius: 0;
    height: 64px;
    border: none;
    width: 75%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}
.search-job-input[type=text]:focus {
    border: none;
    outline: none;
}
.search-job-options:focus {
    border: none;
    outline: none;
}
#web-all-jobs-btn{
    padding: 13px 15% 13px 15%;
    border: 1px solid green !important;
    font-weight: normal;
    color: #556B2F;
    border-radius: 25px;
}

#web-all-jobs-btn:hover {
    border: 1px solid #ff6a00 !important;
    color: #ff6a00;
    transition-duration: .5s;
}

/*web component - top employers*/


:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;
}

.top-employers-img {
    float: right;
}

.web-main-hero-title {
    font-family: Times New Roman, Times, serif;
    font-size: 65px
}

.web-hero-search-background {
    min-height: 150px;
    background-color: #e7faeb
}
#web-header-nav-toggler-btn {
    border: none;
    outline: none;
}

@media (max-width: 308px) {
    .box {
        height: 260px;
    }
    #web-header-project-title {
        font-size: 24px !important;
    }
    .navbar-brand{
        margin-right: 0;
    }
    #main-nav-login {
        margin-bottom: 15px;
    }
    #main-nav-login-span {
        padding: 0 !important;
    }
    #main-nav-sign-up-span {
        padding: 6px 50px 6px 50px !important;
    }
    .web-main-hero-title {
        font-size: 35px
    }
    .web-main-hero-sub-title {
        font-size: 20px;
    }
    #web-header-nav-toggler-btn {
        font-size: 15px !important;
        border: none;
    }
    .search-job-component {
        width: 100%;
        height: 40px;
    }
    .web-all-jobs-div {
        margin-top: 0 !important;
    }
    #web-all-jobs-btn{
        padding: 13px 35% 13px 35%;
    }
    .web-hero-search-background {
        min-height: 250px;
    }
}

@media (max-width: 450px) and (min-width: 309px) {
    .box {
        height: 220px;
    }
    #main-nav-login {
        margin-bottom: 15px;
    }
    #main-nav-login-span {
        padding: 0 !important;
    }
    #main-nav-sign-up-span {
        padding: 6px 70px 6px 70px !important;
    }
    .web-main-hero-title {
        font-size: 45px
    }
    .web-main-hero-sub-title {
        font-size: 20px;
    }
    .search-job-component {
        width: 100%;
        height: 40px;
    }
    .web-all-jobs-div {
        margin-top: 0 !important;
    }
    #web-all-jobs-btn{
        padding: 13px 38% 13px 38%;
    }
    .web-hero-search-background {
        min-height: 250px;
    }
}

@media (max-width: 767px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 220px;
    }
    #main-nav-login {
        margin-bottom: 15px;
    }
    #main-nav-login-span {
        padding: 0 !important;
    }
    #main-nav-sign-up-span {
        padding: 6px 70px 6px 70px !important;
    }
    .web-main-hero-title {
        font-size: 55px
    }
    .web-all-jobs-div {
        margin-top: 0 !important;
    }
    .web-main-hero-sub-title {
        font-size: 20px;
    }
    .web-hero-search-background {
        min-height: 350px;
    }
}


@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 220px;
    }
    #main-nav-login {
        margin-bottom: 15px;
    }
    #main-nav-login-span {
        padding: 0 !important;
    }
    #main-nav-sign-up-span {
        padding: 6px 40px 6px 40px !important;
    }
    .web-main-hero-title {
        font-size: 55px
    }

    .search-job-component {
        width: 100%;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 30%;

    }
    .header p {
        width: 30%;
    }
}
.web-open-jobs{
    color: green !important;
}

.web-open-jobs:hover{
    color: #ff6a00 !important;
    transition-duration: .3s;
}

/*web component top feature jon*/
.card-job-post-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.card-recent-job-post-address {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

/*web component recent jobs*/

.card-recent-job-post-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-recent-job-post-address {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.web-fr-job-title:hover{
    transition-duration: .4s;
}
